doctype html
html(lang="en")
  head
    title= title
    style
      include ../public/stylesheets/style.css
    script.
      function decode(str) {
        return str.replace(/&amp;/g, '&').replace(/&(\w+);/g, '"');
      };
      var countryData = JSON.parse(decode('#{countryData}'));
      var languageData = JSON.parse(decode('#{languageData}'));
      var categoryData = JSON.parse(decode('#{categoryData}'));
      var todayDateStr = '#{todayDateStr}';
      var tomorrowDateStr = '#{tomorrowDateStr}';
      console.log(tomorrowDateStr);
    script
      include ../public/scripts/main.js
  body
    h2= message

    mixin selector(elementId, arr, iType, varName, arrValues)
      .container-column(id=elementId)
        .container-finite(class=elementId)
          div
            each el in arr
              if arrValues.includes(el)
                input(
                  type=iType
                  value=el
                  class=elementId
                  checked=true
                )
              else
                input(
                  type=iType
                  value=el
                  class=elementId
                )
              span(class=iType)= el
              br
        button(
          class=iType
          onclick='checkAll(this)'
          data-state='unchecked'
        ) Check All
        button(
          data-name=varName
          onclick='selectChoice(this)'
        ) Filter

    .container
      +selector('languages', languages, 'checkbox', 'languages', ['English'])
      +selector('countries', countries, 'checkbox', 'countries', ['United States'])
      +selector('apis', apis, 'checkbox', 'apis', [])
      +selector('categories', categories, 'checkbox', 'categories', [])

    .container
      input(name='location' type='text' value='Los Angeles')
      input(type='date' name='todayDateStr' value=todayDateStr)
      input(type='date' name='end-date' value=tomorrowDateStr)
      button(id='search-button')= 'Search'
    // countries




    // categories
    // APIs
    - for (var i = 0; i < events.length; i++){
    li= events[i]['name']
    - }
