doctype html
html(lang="en")
  head
    title= title
    style
      include ../public/stylesheets/style.css
    script.
      function decode(str) {
        return str.replace(/&(\w+);/g, '"');
      };
      var countryData = JSON.parse(decode('#{countries}'));
    script
      include ../public/scripts/main.js
  body
    h2= message

    mixin selector(elementId, arr, iType, varName, arrValues)
      .container-column(id=elementId)
        each el in arr
          if arrValues.includes(el)
            input(
              type=iType
              value=el
              class=elementId
              checked=true
            )
          else
            input(
              type=iType
              value=el
              class=elementId
            )
          span(class=iType)= el
          br
        button(
          class=iType
          onclick='checkAll(this)'
          data-state='unchecked'
        ) Check All
        button(
          data-name=varName
          onclick='selectChoice(this)'
        ) Select
        span(class=elementId)

    .container
      +selector('languages', languages, 'checkbox', 'languages', ['English'])
      +selector('categories', categories, 'checkbox', 'categories', [])



    // countries




    // categories
    // APIs
    - for (var i = 0; i < events.length; i++){
    li= events[i]['name']
    - }
